<!-- A simple html file -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>BlocAlgo | EnSciences</title>

    <!-- Fontawesome 6 from jsdelivery -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" rel="stylesheet" type="text/css"> -->

    <!-- jquery draggable -->
    <!-- <script src="./lib/blockly/blockly_compressed.js"></script>
    <script src="./lib/blockly/blocks_compressed.js"></script>
    <script src="./lib/blockly/msg/fr.js"></script>
    <script src="./lib/blockly/python_compressed.js"></script> -->

    <!-- favicon -->
    <link
      rel="icon"
      href="<%= require('../assets/img/logo.png') %>"
      type="image/png"
      sizes="16x16"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            zIndex: {
              100: "100",
              99: "99",
              101: "101",
              9999: "9999",
            },
            margin: {
              playground: "50px",
              "25px": "25px",
            },
            height: {
              blockly: "calc(100% - 64px)",
              accordion: "calc(100% - 76px)",
              main: "calc(100vh - 128px)",
            },
            screens: {
              "3xl": "1921px",
            },
          },
        },
        darkMode: "class", // or 'media' or 'class'
      };
    </script>

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>

  <body>
    <!-- Main div -->
    <div class="dark:bg-zinc-700 sm:h-fit md:h-screen" id="main">
      <!-- Navbar -->

      <div class="dark:bg-zinc-800 bg-zinc-300 shadow sticky top-0 z-100 h-16">
        <div
          x-data="{ open: false }"
          class="flex flex-col md:items-center md:flex-row md:px-2 lg:px-2"
        >
          <div
            class="pt-3 pb-3 pl-2 pr-2 flex flex-row items-center justify-between"
          >
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-4 md:static md:inset-auto md:mr-6 md:pl-0 md:hidden"
            >
              <button
                class="md:hidden rounded-lg focus:outline-none focus:shadow-outline text-zinc-500 dark:text-white text-lg"
                @click="open = !open"
              >
                <i class="fa-solid fa-bars" x-show="!open"></i>
                <i class="fa-solid fa-xmark" x-show="open"></i>
              </button>
            </div>

            <div class="flex mx-auto items-center md:pr-4 h-10">
              <div class="w-8 h-8 mr-3">
                <img
                  class="block w-8 h-8"
                  src="<%= require('../assets/img/logo.svg') %>"
                  alt="BlocAlgo"
                />
              </div>

              <!-- Title -->
              <div
                class="hidden md:inline text-zinc-500 py-1 rounded-md text-xl font-bold dark:text-white"
              >
                BlocAlgo
              </div>
            </div>

            <div>
              <div
                class="absolute inset-y-0 right-0 flex items-center pr-4 md:static md:inset-auto md:ml-6 md:pr-0 md:hidden"
              >
                <button
                  type="button"
                  class="save text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                  data-bs-toggle="tooltip"
                  title="Enregistrer le travail"
                >
                  <span class="sr-only">Enregistrer</span>
                  <!-- Heroicon name: outline/bell -->
                  <i class="fa-solid fa-save"></i>
                </button>

                <button
                  type="button"
                  class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-1 md:mr-0 dark:bg-green-600 dark:hover:bg-green-700"
                  id="run1"
                  data-bs-toggle="tooltip"
                  title="Exécuter le script"
                >
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
          </div>
          <nav
            :class="{'flex': open, 'hidden': !open}"
            class="flex-col pr-4 md:pb-0 hidden md:flex md:flex-row bg-zinc-300 dark:bg-zinc-800 w-full md:h-16"
          >
            <div class="md:grow pt-3 md:pb-3 bg-transparent">
              <div
                @click.away="open = false"
                class="relative ml-2 pb-2 md:inline-block md:pb-0"
                x-data="{ open: false }"
              >
                <button
                  @click="open = !open"
                  class="px-4 py-2 text-sm font-semibold text-zinc-500 bg-zinc-200 dark:text-white dark:bg-zinc-900 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg h-10"
                >
                  <span>Langage</span>
                  <svg
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    :class="{'rotate-180': open, 'rotate-0': !open}"
                    class="inline w-4 h-4 ml-2 transition-transform duration-200 transform"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
                <div
                  x-show="open"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-101 dark:bg-zinc-800"
                >
                  <div
                    class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"
                  >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="#"
                      >Python</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:text-gray-200 md:mt-0 cursor-not-allowed text-gray-400"
                      href="#"
                      >Arduino (C++)</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:text-gray-200 md:mt-0 cursor-not-allowed text-gray-400"
                      href="#"
                      >Javascript</a
                    >
                  </div>
                </div>
              </div>

              <div
                @click.away="open = false"
                class="relative ml-2 pb-2 md:inline-block md:pb-0"
                x-data="{ open: false }"
              >
                <button
                  @click="open = !open"
                  class="px-4 py-2 text-sm font-semibold text-zinc-500 bg-zinc-200 dark:text-white dark:bg-zinc-900 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg h-10"
                >
                  <span>Exemples</span>
                  <svg
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    :class="{'rotate-180': open, 'rotate-0': !open}"
                    class="inline w-4 h-4 ml-2 transition-transform duration-200 transform"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
                <div
                  x-show="open"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-101"
                >
                  <div
                    class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"
                  >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="?from=/examples/turtle.json"
                      >Turtle</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="?from=/examples/mpl.json"
                      >Matplotlib</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="?from=/examples/numpy_polyfit.json"
                      >Numpy</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="?from=/examples/random.json"
                      >Random</a
                    >
                    <a
                      class="block px-4 py-2 mt-2 text-sm bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                      href="?from=/examples/pil.json&aux=/examples/image.jpg"
                      >Image</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- md:absolute md:inset-y-0 md:right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0 -->
            <div class="ml-2 md:flex-col md:pt-3 pb-3">
              <!-- darkmode switch -->
              <button
                type="button"
                class="theme-toggle text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                data-bs-toggle="tooltip"
                title="Changer de thème (clair/sombre)"
              >
                <i class="theme-toggle-dark-icon hidden fa-solid fa-moon"></i>
                <i class="theme-toggle-light-icon hidden fa-solid fa-sun"></i>
              </button>

              <button
                type="button"
                class="add-file text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                data-bs-toggle="tooltip"
                title="Ajouter un fichier"
              >
                <span class="sr-only">Ajouter un fichier</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-plus"></i>
              </button>

              <button
                type="button"
                class="import text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                data-bs-toggle="tooltip"
                title="Importer un travail"
              >
                <span class="sr-only">Importer</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-upload"></i>
              </button>

              <button
                type="button"
                class="download text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                data-bs-toggle="tooltip"
                title="Télécharger le travail"
              >
                <span class="sr-only">Télécharger</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-download"></i>
              </button>

              <button
                type="button"
                class="save text-zinc-500 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700 focus:outline-none rounded-lg text-sm p-2.5 w-10 h-10"
                data-bs-toggle="tooltip"
                title="Enregistrer le travail"
              >
                <span class="sr-only">Enregistrer</span>
                <!-- Heroicon name: outline/bell -->
                <i class="fa-solid fa-save"></i>
              </button>

              <button
                type="button"
                class="text-white bg-green-700 hover:bg-green-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-2 md:mr-0 dark:bg-green-600 dark:hover:bg-green-700 hidden md:inline"
                id="run2"
                data-bs-toggle="tooltip"
                title="Exécuter le script"
              >
                <i class="fas fa-play"></i>
                <span class="hidden md:inline ml-2">Exécuter</span>
              </button>
            </div>
          </nav>
        </div>
      </div>

      <!-- Loader div -->
      <div
        id="loader"
        class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-9999 overflow-hidden bg-zinc-500 flex flex-col items-center justify-center pt-44"
      >
        <img
          src="<%= require('../assets/img/logo.png') %>"
          alt="BlocAlgo"
          class="w-32 mb-4"
        />
        <h2 class="text-center text-white text-xl font-semibold">
          <i class="fas fa-circle-notch fa-spin mr-4"></i>Chargement de
          BlocAlgo...
        </h2>
        <p class="w-3/6 text-center text-white text-sm">
          Merci de patienter quelques secondes.
        </p>

        <p
          class="mt-auto w-5/6 sm:w-3/6 pb-24 text-base text-white text-center"
        >
          BlocAlgo est une application libre bricodée par :<br />
          <img
            src="https://www.ensciences.fr/images/favicon.png"
            class="mt-4 mb-1 w-8 mx-auto"
          />
          <span class="my-auto text-white font-bold text-base">EnSciences</span>
          <br />
          <span class="text-sm">Th. G &copy; 2023</span>
        </p>
      </div>

      <!-- Import modal -->
      <div
        id="import_modal"
        class="relative z-100 hidden"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        ></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
          <div
            class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
          >
            <div
              class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
            >
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div
                    class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
                  >
                    <i class="fa-solid fa-upload text-green-700"></i>
                  </div>
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3
                      class="text-lg font-medium leading-6 text-gray-900"
                      id="modal-title"
                    >
                      Importer un travail
                    </h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500 mb-2">
                        Veuillez sélectionner un fichier de travail (au format
                        .json) :
                      </p>
                      <input
                        type="file"
                        id="import_file"
                        name="import_file"
                        accept=".json"
                        class="text-sm file:rounded-md file:border file:border-zinc-300 file:bg-white file:px-4 file:py-2 file:text-base file:text-sm file:text-zinc-700 file:shadow-sm hover:file:bg-gray-50 focus:file:outline-none focus:file:ring-zinc-200"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
              >
                <button
                  type="button"
                  id="import_ok"
                  class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none sm:ml-3 sm:w-auto sm:text-sm"
                >
                  Importer
                </button>
                <button
                  type="button"
                  id="import_cancel"
                  class="mt-3 inline-flex w-full justify-center rounded-md border border-zinc-300 bg-white px-4 py-2 text-base font-medium text-zinc-700 shadow-sm hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                >
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

       <!-- Add file modal -->
       <div
       id="add_modal"
       class="relative z-100 hidden"
       aria-labelledby="modal-title"
       role="dialog"
       aria-modal="true"
     >
       <div
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
       ></div>

       <div class="fixed inset-0 z-10 overflow-y-auto">
         <div
           class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
         >
           <div
             class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
           >
             <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
               <div class="sm:flex sm:items-start">
                 <div
                   class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
                 >
                   <i class="fa-solid fa-upload text-green-700"></i>
                 </div>
                 <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                   <h3
                     class="text-lg font-medium leading-6 text-gray-900"
                     id="modal-title"
                   >
                     Ajouter un fichier
                   </h3>
                   <div class="mt-2">
                     <p class="text-sm text-gray-500 mb-2">
                       Veuillez sélectionner un fichier à ajouter  :
                     </p>
                     <input
                       type="file"
                       id="import_add_file"
                       name="import_add_file"
                       accept="*"
                       class="text-sm file:rounded-md file:border file:border-zinc-300 file:bg-white file:px-4 file:py-2 file:text-base file:text-sm file:text-zinc-700 file:shadow-sm hover:file:bg-gray-50 focus:file:outline-none focus:file:ring-zinc-200"
                     />
                   </div>
                 </div>
               </div>
             </div>
             <div
               class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
             >
               <button
                 type="button"
                 id="import_add_file_ok"
                 class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none sm:ml-3 sm:w-auto sm:text-sm"
               >
                 Importer
               </button>
               <button
                 type="button"
                 id="import_add_file_cancel"
                 class="mt-3 inline-flex w-full justify-center rounded-md border border-zinc-300 bg-white px-4 py-2 text-base font-medium text-zinc-700 shadow-sm hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
               >
                 Annuler
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>

      <!-- Main content -->
      <div class="flex flex-col md:flex-row h-5/6 md:h-main mx-auto mt-3">
        <!-- Left -->
        <div class="w-full md:w-3/5 p-3 h-[85vh] md:h-full">
          <div class="bg-white dark:bg-zinc-800 rounded-md shadow-lg h-full">
            <div class="flex bg-blue-500 px-3 py-3 rounded-t-md">
              <!-- Cubes stacked icon -->
              <div class="text-sm sm:text-xl text-white w-full flex inline items-center">
                <span class="ml-1 sm:ml-3"
                  ><i class="fa-solid fa-shapes mr-3"></i>Blocs</span
                >

                <span class="ml-auto float-right">

                  <!-- Toogle switch langage -->
                  <button
                      type="button"
                      id="btn_langage"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700"
                      data-bs-toggle="tooltip"
                      title="Traduire les blocs en langage naturel"
                    >
                      <i class="fas fa-language"></i>
                    </button>

                  <!-- Show hide toolbox -->
                  <button
                    type="button"
                    id="show_hide_toolbox"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 tooltip"
                    data-bs-toggle="tooltip"
                    title="Afficher la boîte à outils"
                  >
                    <i class="fa-solid fa-list"></i>
                  </button>

                  <button
                    type="button"
                    id="undo"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700"
                    data-bs-toggle="tooltip"
                    title="Défaire (CTRL+Z)"
                  >
                    <i class="fa-solid fa-undo"></i>
                  </button>
                  <button
                    type="button"
                    id="redo"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700"
                    data-bs-toggle="tooltip"
                    title="Refaire (CTRL+Y)"
                  >
                    <i class="fa-solid fa-redo"></i>
                  </button>
                  <button
                    type="button"
                    id="reset"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700"
                    data-bs-toggle="tooltip"
                    title="Réinitialiser l'espace de travail"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </span>
              </div>
            </div>

            <div
              id="blocklyDiv"
              class="rounded-b-md z-99 h-blockly w-full"
            ></div>
          </div>
        </div>

        <!-- Right -->
        <div class="w-full md:w-2/5 p-3 mb-3 md:mb-0 md:h-full">
          <div class="h-80 md:h-3/6 pb-3" id="editor_card">
            <div class="bg-white dark:bg-zinc-800 shadow-lg rounded-md h-full">
              <div
                class="flex bg-orange-500 px-3 py-3 rounded-t-md"
                id="editor_top"
              >
                <div class="text-sm sm:text-xl text-white w-full flex inline items-center">
                  <span class="ml-1 sm:ml-3"
                    ><i class="fa-solid fa-pen mr-3"></i>Script</span
                  >

                  <!-- Hide -->
                  <span class="ml-auto float-right">
                    <button
                      type="button"
                      id="hide_editor"
                      class="text-white bg-orange-700 hover:bg-orange-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-orange-600 dark:hover:bg-orange-700"
                      data-bs-toggle="tooltip"
                      title="Cacher le script"
                    >
                      <i class="fa-solid fa-eye-slash"></i>
                    </button>

                    <!-- download script -->
                    <button
                      type="button"
                      id="download_script"
                      class="text-white bg-orange-700 hover:bg-orange-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-orange-600 dark:hover:bg-orange-700"
                      data-bs-toggle="tooltip"
                      title="Télécharger le script"
                    >
                      <i class="fa-solid fa-download"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div
                id="editor_container"
                class="h-blockly"
                style="position: relative; display: block"
              >
                <div id="editor" class="h-full"></div>
              </div>
            </div>
          </div>

          <div class="h-fit md:h-3/6 pt-3" id="output_card">
            <div class="bg-white dark:bg-zinc-900 shadow-lg rounded-md h-full">
              <div
                class="flex bg-red-500 px-3 py-3 rounded-t-md inline-block align-middle"
                id="output_top"
              >
                <div class="text-sm sm:text-xl text-white w-full flex inline items-center">
                  <span class="ml-1 sm:ml-3"
                    ><i class="fa-solid fa-right-from-bracket mr-3"></i
                    >Sortie</span
                  >

                  <!-- float right -->
                  <span class="ml-auto float-right">
                    <!-- Hide -->
                    <button
                      type="button"
                      id="hide_console"
                      class="text-white bg-red-700 hover:bg-red-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700"
                      data-bs-toggle="tooltip"
                      title="Cacher la sortie"
                    >
                      <i class="fa-solid fa-eye-slash"></i>
                    </button>

                    <!-- Afficher le graphique -->
                    <button
                      type="button"
                      id="btn_graph_view"
                      class="text-white bg-red-700 hover:bg-red-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700"
                      data-bs-toggle="tooltip"
                      title="Afficher le graphique/la console"
                    >
                      <i class="fas fa-chart-line"></i>
                    </button>
                    <!-- Effacer la sortie -->

                    <button
                      type="button"
                      id="raz"
                      class="text-white bg-red-700 hover:bg-red-800 focus:outline-none font-medium rounded-lg text-sm w-10 h-10 text-center ml-0.5 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700"
                      id="clear"
                      data-bs-toggle="tooltip"
                      title="Effacer la console"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </span>
                </div>
              </div>

              <div
                id="output_container"
                class="h-blockly"
                style="overflow-y: scroll"
              >
                <div
                  id="graphics"
                  style="
                    display: none;
                    justify-content: center;
                    align-items: center;
                  "
                  class="h-80 md:h-full"
                ></div>
                <!-- rounded-b-md bg-zinc-800 dark:bg-zinc-900 -->
                <div
                  id="shell"
                  class="terminal darklighted h-full max-h-full"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div
        class="text-center text-sm p-2 bg-zinc-300 text-zinc-600 dark:text-white dark:bg-zinc-800 sticky top-[100vh]"
      >
        <span>BlocAlgo alpha (<%= htmlWebpackPlugin.options.date %>)</span
        ><span class="ml-4">Bricodé par Th.G © 2023 pour </span>
        <a class="font-semibold ml-1" href="https://ensciences.fr"
          ><span
            ><img
              src="https://www.ensciences.fr/images/favicon.png"
              class="w-4"
              style="display: inline" /></span
          >&nbsp;ensciences.fr</a
        >
      </div>

      <!-- End of Main div -->
    </div>
  </body>
</html>
